/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --main-color: #ff8c00;
  --black: #000;
  --bg: #000;
  --border: 1px solid rgba(255, 255, 255, 0.3);
  --border-main: 1px solid var(--main-color);
}

*{
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
body{
  background: var(--bg);
}

